body {
    background: rgb(239, 201, 167);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    margin-top: 20px;
}

.registration-form {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    padding: 25px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    max-width: 600px;
}

.names, .contacts, .passwords {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.form-group {
    width: 48%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 2px solid grey;
    border-top: 1px solid grey;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

.gender {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gender input {
    margin-left: 10px;
}

.gender label {
    margin: 0;
    margin-right: 25px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(150deg, rgb(151, 181, 220) 40%, rgb(160, 76, 205) 100%);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(150deg, rgb(183, 146, 203) 40%, rgb(161, 196, 241) 100%);
}

@media (max-width: 650px) {
    .registration-form {
        margin: 20px;
        padding: 15px;
    }

    .names, .contacts, .passwords {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .form-group {
        width: 100%;
        margin-bottom: 10px;
    }

    .gender {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .gender label {
        margin: 0;
        flex: 1;
    }

    .gender input {
        flex: none;
        margin-left: 5px;
    }
}
